/* style.css */
body, html {
    height: 100%;
    margin: 0;
}

#big_container {
    display: flex;
    height: 100%;
}

#left_container {
    width: 20%;
    background-color: #F9FAFB; /* Example background color */
    height: 100%;
    display: inline-block;
    overflow: auto;
}

#mahindra_logo {
    width: 80%;
    padding: 4%;
    padding-left: 6%;
}


.grey_font {
    color: #848484; 
}

#dNZnPop4vEWlLc {
    font-size: 25px;
}

#pwsld {
    padding: 10px;
    padding-left: 20px;
    position: relative;
    left: 4px;
    top: 20px;
}


#MrKCgSxHMeTD2Rk {
    padding: 20px;
    /* list-style-image: url(./key.png) ; */
}

#cNKt81CvfXNk5Of {
    padding: 20px;
}


/* li {
  list-style: none;
}
li::before {
  content: '';
  display: inline-block;
  left: 10px;
  height: 10px;
  width: 10px;
  background-image: url(./key.png);
} */

#right_container {
    padding: 20px;
    width: 79%;
    display: inline-block;
    flex-direction: column;
    background-color: #F3F3F4; /* Example background color */
    overflow: auto;
}

#VYFc1qozkId5mra {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

#toggle_menu_div {
    width: 20%;
}

#toggle_menu {
    /* display: inline-block;
    position:  relative;
    left: 0;
     */
    /* flex: 1 1 0; */
    width: 100%;
}

#person_id_profile {
    /* display: inline-block;
    position: relative;
    right: 0px;
    left: 50%; */

    /* flex: 1 1 0; */

    justify-content: right;
  display: flex;
  width: 80%;
    
}

#diCgqRzdsILqdTa {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

#zEYPp41JmDPM4Qy {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    width: 30%;
}

#button_div {
    display: flex;
    width: 70%;
    justify-content: right;
}

#N8NODaXdtouCuiJ {
    /* display: inline-block; */
    width: 100px;
    /* position: relative; */
    background-color: #D6223A;
    color: white;
    /* left: 30%;
    top: 10px; */
    height: 40px;
    border-radius: 8px;
}



#jZ3qbrkXCeEdwsa {
    display: inline-block;
    height: 30px;
}



#content_table {
    position: relative;
    /* top: 50%; */
    top: 50px;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: center;
}

table {
    width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    position: relative;
}



th,
td {
	padding: 15px;
	color: black;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #DDE2EA;
	}
}

tbody {
    background-color: white;
	tr {
		&:hover {
			background-color: rgb(235, 234, 234);
		}
        
	}
}
